.boosted {
  max-width: 1440px;
}

.boosted__container {
  border: 1px solid blue;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boosted__image {
  border: 1px solid blue;
  width: 100%;
}

.boosted__title {
  border: 1px solid blue;
  width: 511px;
  position: absolute;
  top: 53px;
  bottom: 14px;
}

.boosted__subtitle {
  border: 1px solid blue;
  width: 537px;
}

.boosted__links {
  border: 1px solid blue;
  width: 414px;
}

.boosted__item {
  border: 1px solid blue;
  width: 201px;
}

.boosted__link {
  border: 1px solid blue;
}

.boosted__logo-container {
  border: 1px solid blue;
  width: 100%;
  background-color: #000000;
}

.boosted__logo {
  border: 1px solid blue;
  width: 280px;
}
