.header {
  width: 100%;
  margin: 0;
}

.header__black {
  background-color: #000000;
  width: 100%;
  height: 29px;
}

.header__links-container {
  width: 1440px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 160px;
  height: 36px;
}

.header__links {
  width: 736px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 303px 0 100px;
}

.header__item {
  margin-right: 22px;
}

.header__item:last-child {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #000000;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.header__avatars {
  width: 51px;
  display: flex;
  margin-right: 36px;
}

.header__avatar {
  margin-right: 20px;
}

.header__avatar-icon {
  width: 18px;
  height: 18px;
}

.header__basket-icon {
  width: 18px;
  height: 18px;
}
