.page {
  font-family: 'Roboto', 'Arial', sans-serif;
  width: 1440px;
}

.hover__link:hover {
  background: white;
  opacity: 0.8;
  cursor: pointer;
}

.page__logo {
  margin-top: 27px;
}

.page__footer {
  padding-top: 30px;
  box-sizing: border-box;
}
