.page {
  font-family: 'Roboto', 'Arial', sans-serif;
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
}

.hover__link:hover {
  background: white;
  opacity: 0.8;
  cursor: pointer;
}

.page__footer {
  margin-left: 130px;
}
