.photos {
  max-width: 1440px;
  display: flex;
}

.photos__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__image {
  width: 480px;
  height: 480px;
}

.photos__title {
  width: 241px;
  position: absolute;
  top: 198px;
  color: white;
  line-height: 30px;
  font-size: 25px;
  font-weight: 400;
  margin: 8px 0 0;
}

.photos__subtitle {
  width: 83px;
  position: absolute;
  top: 243px;
  color: white;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 0;
}
