.video {
  max-width: 1160px;
}

.video__container {
  margin-top: 55px;
  width: 100%;
  display: flex;
  margin-left: 140px;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-child {
  margin: 0;
}
